*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}

body{
    padding-top: 2.5vh;
    text-align: center;
    background-color: rgb(99, 99, 99);
    background-image: url("https://www.transparenttextures.com/patterns/soft-wallpaper.png");
}

svg{
    max-height: 95vh;
    width: 95vw;
    margin: 0 auto;
}

.room{
    position: relative;
    max-height: 95vh;
    width: 95vw;
    text-align: center;
}

.objects{
    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: repeat(64, minmax(0, 1fr));
    grid-template-rows: repeat(36, minmax(0, 1fr));

    max-height: 95vh;
    width: 95vw;
    margin: 0 auto;
}

.plant{
    width: 8vw;
    grid-column: 50;
    grid-row: 22;
}

.doorknob{
    width: 3vw;
    
    grid-column: 56;
    grid-row: 25;
    transform: rotate(1deg);
}

.keypad{
    width: 2.5vw;

    grid-column: 10;
    grid-row: 22;
    transform: rotate(-2deg);
}