* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    line-height: 1.5;
}

body {
    font-family: 'Courier Prime', monospace;
    text-align: center;
    background-color: black;
    color: white;
    background-image: url("../images/soft-wallpaper.png");
    /* downlaod bckgrd and re-host */
    overflow-x: hidden;
}

.wrapper {
    width: 80%;
    margin: 0 auto;

}

/* .register{
    width: 80%;
} */

.wrapper p {
    font-size: 14pt;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2%;
}

.reg,
.log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.192);
    padding: 2%;
    width: 90%;
    margin: 5% auto;
}

h1,
h2,
h3 {
    font-weight: bolder;
}

h1 {
    font-size: 25pt;
    margin-top: 4%;
}

h2 {
    font-size: large;
}

p,
h3 {
    font-size: 16pt;
    margin-top: 2%;
}


.newUser {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14pt;
}

input,
button {
    margin: 0 auto;
}

button {
    border: none;
    background-color: white;
    font-family: 'Courier Prime', monospace;
    padding: 0.5%;
    margin-top: 16pt;
    font-size: 12pt;
}

.newUser {
    background-color: rgba(255, 255, 255, 0.192);
    padding: 2%;

}

.newUser #username {
    margin-bottom: 2%;
}


/* media query breapoints here */
@media only screen and (min-width: 600px) {
    .options {
        flex-direction: row;
    }
}